html, body { height: 100%; }

body {
    padding-top: 1%;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
}
  
h1 {
    text-align: center;
    font-family: Crimson Text;
    font-size: 100px;
    color: #d3d3d3; 
}
  
.icons {
    text-align: center;
    display: inline-block;
    font-size: 60px;
    color: #d3d3d3;
    transition-duration: 0.3s;
}
  
.icons:hover {
    color: #808080;
    font-size: 80px;
}
  
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
